.col-1 {
    width: 8.333%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-2 {
    width: 16.666%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-3 {
    width: 24.999%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-4 {
    width: 33.332%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-5 {
    width: 41.665%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-6 {
    width: 49.998%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-7 {
    width: 58.331%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-8 {
    width: 66.664%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-9 {
    width: 74.997%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-10 {
    width: 83.33%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-11 {
    width: 91.663%;
    margin-left: 15px;
    margin-right: 15px;
}

.col-12 {
    width: 99.996%;
    margin-left: 15px;
    margin-right: 15px;
}